root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
AWS_access_key_ID=AKIAI2TETBYWLYFE2UWA
AWS_Secret_access_key=9drTJvcXLB89EXAMPLELB8923FB892xMFI

